<!--<div id="nav-menu" class="nav-menu mm-menu mm-horizontal mm-ismenu mm-right mm-next mm-current mm-opened"><ul class="mm-list mm-panel mm-opened mm-current" id="mm-m0-p0">
    <li><a id="headerHomeLink" href="/"><u>Home</u></a></li>
    <li><a id="headerGalleryLink" href="/stream"><u>Shop</u></a></li>
    <li><a id="headerGetAppLink" href="/getapp?"><u>App</u></a></li>
    <li>
        <a class="social-nav tw" id="headerTwitterLink" target="_blank" href="https://twitter.com/snaptee">
            <span class="visible-xs">Twitter</span>
        </a>
    </li>
    <li>
        <a class="social-nav ig" id="headerInstagramLink" target="_blank" href="https://instagram.com/snapteeapp">
            <span class="visible-xs">Instagram</span>
        </a>
    </li>
    <li>
        <a class="social-nav fb" id="headerFacebookLink" target="_blank" href="https://www.facebook.com/snaptee.co">
            <span class="visible-xs">Facebook</span>
        </a>
    </li>
</ul></div>
-->

<div class="mm-page">
  <div id="spinner-overlay">
    <div id="spinner-wrapper">
      <div id="spinner"></div>
      <p>Don't worry. We're counting<br>your money carefully.</p>
      </div>
      </div>
      <div class="img-main">
    <section class="intro">
        <div class="banner">
            <div class="main-title container hidden-xs">
                <div class="col-md-12">
                    <h1>IT’S EASY TO BE UNIQUELY YOU.</h1>
                    <h4>You are unique in every way. Shouldn’t your T-shirts be too? Express yourself with Snaptee and see how easy it is to start realizing your creativity.</h4>
                    <a id="indexMainGetAppLink" href="/getapp?">Start designing now</a>
                    <a id="indexMainGetAppLink" href="/stream">Shop now</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row main-title-xs visible-xs">
                <h1>IT'S EASY<br>TO BE UNIQUELY YOU.</h1>
                <h4>You are unique in every way. Shouldn’t your T-shirts be too? Express yourself with Snaptee and see how easy it is to start realizing your creativity.</h4>
            </div>
            <div class="row points">
                <div class="col-md-4 point">
                    <img src="http://via.placeholder.com/350x350">
                    <h3>WHAT IS SNAPTEE?</h3>
                    <p>Snaptee is the first mobile app that enables you to create your own custom T-shirts with just a few taps on your smartphone.</p>
                </div>
                <div class="col-md-4 point">
                    <img src="http://via.placeholder.com/350x350">
                    <h3>SNAPTEE IS EASY AND FUN</h3>
                    <p>You can use the tools inside Snaptee to DESIGN, ORDER, and even SELL professional looking, unique creations completely in-app.</p>
                </div>
                <div class="col-md-4 point">
                    <img src="http://via.placeholder.com/350x350">
                    <h3>AT SNAPTEE WE BELIEVE...</h3>
                    <p><span class="quote">" </span>Technology should empower people to create, and the freedom to create is exciting and enjoyable. A creativity revolution is starting at Snaptee. Come join in on the fun!<span class="quote"> "</span></p>
                </div>
            </div>
        </div>
    </section>

    <section id="download" class="download">
        <div class="container">
            <div class="row">
                <h1>DOWNLOAD SNAPTEE FOR FREE</h1>
                <h4>Join the creativity revolution<br>and start discovering your own creativity!</h4>
            </div>
            <div class="row downloads">
                <a id="indexGetAppiPhoneLink" class="download-btn app-store hidden-xs" href="/getapp/iphone?"></a>
                <a id="indexGetAppAndroidLink" class="download-btn play-store hidden-xs" href="/getapp/android?"></a>
                <a id="indexGetAppiPhoneTextLink" class="download-link app-store visible-xs" href="/getapp/iphone?">DOWNLOAD ON THE APPLE STORE➝</a>
                <a id="indexGetAppAndroidTextLink" class="download-link play-store visible-xs" href="/getapp/android?">DOWNLOAD ON THE GOOGLE PLAY➝</a>
            </div>
        </div>
        <div class="demo-container">
            <img src="https://d1tb5im0xynh1.cloudfront.net/static/images/iphone-demo-full.png" class="image-replace" alt="" data-src="https://d1tb5im0xynh1.cloudfront.net/static/images/iphone-demo-{width}.png" width="2000">
        </div>
    </section>

    <section class="how">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>CREATE YOUR<br class="hidden-sm hidden-xs"> MASTERPIECE.</h2>
                    <p>Connect your photo or Instagram albums, apply a custom filter, choose a fun font and change up the color. You can use a cool design template or go freestyle. Try out the Remix function to re-interpret designs you like. The possibilities are endless inside Snaptee so let your imagination fly!</p>
                </div>
                <img class="col-md-8 hidden-xs" src="https://d1tb5im0xynh1.cloudfront.net/static/images/iphone-video.jpg">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>TURN YOUR ART<br class="hidden-sm hidden-xs"> INTO REALITY.</h2>
                    <p>There’s nothing quite like holding something you created. Snaptee prints your beautiful design on 100% organic cotton and sends your one of a kind T-shirt directly to you. Just hit the Order button and leave the rest to us.</p>
                </div>
                <div class="col-md-8 model-images">
                    <div class="row">
                        <img class="col-md-6 col-sm-6 col-xs-12" src="https://d1tb5im0xynh1.cloudfront.net/static/images/model-1.jpg">
                        <img class="col-md-6 col-sm-6 col-xs-12" src="https://d1tb5im0xynh1.cloudfront.net/static/images/model-2.jpg">
                    </div>
                    <div class="row">
                        <img class="col-md-6 col-sm-6 col-xs-12" src="https://d1tb5im0xynh1.cloudfront.net/static/images/model-3.jpg">
                        <img class="col-md-6 col-sm-6 col-xs-12" src="https://d1tb5im0xynh1.cloudfront.net/static/images/model-4.jpg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h2>COLLECT &amp; SHARE<br class="hidden-sm hidden-xs"> YOUR FAVOURITES.</h2>
                    <p>Show off your masterpieces by sharing them over social media. Follow your friends in Snaptee and build your collections together. Like any design that catches your eye and watch it pop up inside your Locker.</p>
                </div>
                <img class="col-md-4 hidden-sm hidden-xs" src="https://d1tb5im0xynh1.cloudfront.net/static/images/iphone-locker-1.png">
                <img class="col-md-4 hidden-sm hidden-xs" src="https://d1tb5im0xynh1.cloudfront.net/static/images/iphone-locker-2.png">
            </div>
        </div>
    </section>

    <section class="collection">
        <div class="container">
            <h1>CREATE WITH MORE THAN <br>1,000,000+ DESIGNS INSIDE SNAPTEE!</h1>
            <a id="indexMainGalleryLink" class="view-btn" href="http://shop.snaptee.co">Shop now</a>
            <div class="row visible-xs xs-quote">
                <h1><span class="quote">" </span>A Snaptee is more than a T-shirt,<br>it's a statement.<span class="quote">" </span></h1>
                <p>Join our creativity revolution and start discovering your own creativity!</p>
            </div>
            <div class="row collection-images hidden-xs">
                <div class="img-container col-md-3 col-sm-4"><img src="http://via.placeholder.com/250x400" alt="Taking Fight by halfbakedartist" title="Taking Fight by halfbakedartist"></div>
                <div class="img-container col-md-3 col-sm-4"><img src="http://via.placeholder.com/250x400" alt="Normal People by Hannah-Elizabeth" title="Normal People by Hannah-Elizabeth"></div>
                <div class="img-container col-md-3 col-sm-4"><img src="http://via.placeholder.com/250x400" alt="Hustle Harder by anjelikatemple" title="Hustle Harder by anjelikatemple"></div>
                <div class="img-container col-md-3 col-sm-4"><img src="http://via.placeholder.com/250x400" alt="(Real)ity by beenlame" title="(Real)ity by beenlame"></div>
                <div class="img-container col-md-3 col-sm-4"><img src="http://via.placeholder.com/250x400" alt="Untitled by Imperial Supply Co" title="Untitled by Imperial Supply Co"></div>
                <div class="img-container col-md-3 col-sm-4"><img src="http://via.placeholder.com/250x400" alt="Cat by Gloxinia" title="Cat by Gloxinia"></div>
                <div class="img-container col-md-3 col-sm-4"><img src="http://via.placeholder.com/250x400" alt="Spraypaint by DutchyTees" title="Spraypaint by DutchyTees"></div>
                <div class="img-container col-md-3 col-sm-4"><img src="http://via.placeholder.com/250x400" alt="Find a path by TEE SHIRT BOY" title="Find a path by TEE SHIRT BOY"></div>
            </div>
        </div>
    </section>

    <section class="slogan hidden-xs">
        <div class="container">
            <h1 class="row">A SNAPTEE IS MORE THAN A T-SHIRT,<br>IT'S A STATEMENT.</h1>
            <a id="indexBottomGetAppLink" href="/getapp?" class="button">Download Snaptee</a>
        </div>
    </section>
</div><div id="overlayDownloadModal" class="hide">
    <div style="width:100%;height:56px;text-align:right;position:fixed;">
        <a href="#" class="btn-close" id="teeDetailCloseDownloadOverlay">
            <img src="https://d1tb5im0xynh1.cloudfront.net/static/tees/images/cross.png" alt="X">
        </a>
    </div>
    <h2>Use our app for better experience!</h2>
    <div>
        <a href="https://snaptee.co/getapp?" class="btn btn-app-download" target="_blank" id="teeDetailDownloadAppBtn">Download our app for free!</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a href="https://snaptee.co/getapp?" target="_blank" id="teeDetailDownloadAppImage"></a>
            </div>
        </div>
    </div>
</div>
</div>


<!--<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>
-->